<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.fedorova.polyglotte">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/sheep"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DictActivity">
        </activity>

        <activity
            android:name=".ExerciseActivity">
        </activity>

        <activity
            android:name=".TranslatorActivity">
        </activity>

        <activity
            android:name=".PhraseActivity">
        </activity>

        <activity
            android:name=".PrefActivity">
        </activity>

        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".PopUpFilterThemes">
        </activity>

        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".PopUpAddDict">
        </activity>

        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".PopUpSelectNativeLanguage">
        </activity>

        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".PopUpAddNewWord">
        </activity>

        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".PopUpWordWatcher">
        </activity>

        <activity
            android:name=".RepeatWordActivity">
        </activity>

        <activity
            android:theme="@android:style/Theme.Dialog"
            android:label=""
            android:name=".PopUpShowPhrase">
        </activity>

    </application>

</manifest>